[2022-05-09 09:26] zehuanw commented on #298
Hi @sohn21c, it involves the underlying datareader design change and we are working on it. The modification will be not trivial, but we will keep you posted.

[2022-05-09 09:49] KingsleyLiu-NV commented on #313
Hi @politefish
Could you please check `$PYTHONPATH` within the container and ensure that the install path is covered？

[2022-05-09 11:03] KingsleyLiu-NV commented on #313
No. Could you please show the log of "make install"?

[2022-05-09 11:29] politefish commented on #313
[makeinstall_log.txt](https://github.com/NVIDIA-Merlin/HugeCTR/files/8651180/makeinstall_log.txt)
I make install again and this is the log

[2022-05-09 12:09] KingsleyLiu-NV commented on #313
It looks good and could you please check `hugectr.so` exists in the path `/usr/local/hugectr/lib`?

[2022-05-09 12:12] KingsleyLiu-NV commented on #313
Can `import hugectr` in the path /usr/local/hugectr/lib?

[2022-05-09 12:19] politefish commented on #313
Yes！why？

[2022-05-09 12:22] KingsleyLiu-NV commented on #313
`hugectr.so` is the library of the Python module. If you can `import hugectr` in the path `/usr/local/hugectr/lib` AND `/usr/local/hugectr/lib` is in the environment variable `PYTHONPATH`, then there should NOT be any problem of doing `import hugectr` anywhere within the container.

[2022-05-09 12:27] politefish commented on #313
![image](https://user-images.githubusercontent.com/31067539/167409607-9ccfd72a-ae4c-45f6-a47e-39c95820dc99.png)
I pasted the wrong picture before, there are the files in /usr/local/hugectr/lib

[2022-05-09 12:46] KingsleyLiu-NV commented on #313
@politefish I do not think you are building hugectr Python interface correctly based on this screenshot. It seems that you have mistakenly pass `-DENABLE_INFERENCE=ON` to cmake.
Could you please refer to our contributor guide https://nvidia-merlin.github.io/HugeCTR/master/hugectr_contributor_guide.html#build-hugectr-from-source to get informed of how to build HugeCTR from scratch correctly?

[2022-05-09 12:48] KingsleyLiu-NV commented on #313
@politefish Please inform us if you solve the problem.

[2022-05-10 18:52] Ash-Zheng opened #314 "[Question] How can I generate a keyset file from Parquet data."
I have already preprocess my dataset into Parquet file.  And I can successfully run HugeCTR in pure GPU mode.
When I want to try the **Embedding Trained Cache (ETC)** I met some problem about generating the keyset file.

How could I generate keyset file from the processed Parquet file?

[2022-05-11 05:49] politefish commented on #313
@KingsleyLiu-NV The problem is solved, thank you for your help~

[2022-05-11 05:49] #313 closed

[2022-05-12 00:16] rllin commented on #261
@kunlunl can you provide instructions for building our own Dockerfile to test this branch?

i git cloned that branch
[code]
and tried to build this Dockerfile:
[code]

but it fails with

[code]

[2022-05-12 00:59] zehuanw commented on #261
Hi @rllin thank you for your feedback. We have added the fix to v3.6 release on master branch and the NGC container (v22.05) is expected to be ready this week. We will update [this](https://github.com/NVIDIA-Merlin/HugeCTR/blob/master/sparse_operation_kit/documents/tutorials/DLRM_Benchmark/README.md) WIP document to address how to run DLRM benchmark with synthetic dataset at that time.

[2022-05-12 01:14] rllin commented on #261
@zehuanw thanks for the update.  i'll keep an eye out on it.

i was able to build an image by increasing my Docker Desktop memory.  but i hit the following

[code]

how did this work on your end?

[2022-05-12 01:40] kunlunl commented on #261
The compiled .so file is not installed to correct location, so the python packages cannot find it.
Below are instructions to install sok in  fresh tensorflow (I mean nvro.io/nvidia/tensorflow:22.04), could this be helpful? Although this method is not very automated, it can be used for test first.
[code]

[2022-05-13 03:01] rllin commented on #261
do you mean i need to rebase on `nvro.io/nvidia/tensorflow:22.04-tf2-py3`?  I'm using `nvidia-merlin-tensorflow-training:22.04` right now

[2022-05-13 07:10] kunlunl commented on #261
There is some misunderstanding here, I thought you wanted to install SOK in your own docker environment, so I thought the instructions for installing SOK on a docker that didn't have SOK installed (the `nvcr.io/nvidia/tensorflow:22.04-tf2-py3`) would be helpful.

If you want to reinstall the latest SOK in merlin-tensorflow-training:22.04, you need to delete the directory `/usr/local/lib/python3.8/

[2022-05-13 08:03] rllin commented on #261
ah thanks @kunlunl, in that case i may just wait for the new `22.05` image.  when do you think it will be released?

[2022-05-13 08:52] zehuanw commented on #261
Hi @rllin , if everything goes well, the Merlin NGC containers will be ready in 24hrs. We are preparing DLRM benchmark with synthetic dataset accordingly. We will keep you posted.

[2022-05-13 16:48] arashd commented on #261
Hi @kunlunl, I tried your instructions with the following Dockerfile:

[code]

and got the same error:
[code]

Please let me know if I'm doing something wrong, but otherwise, we'll wait on the new image.

[2022-05-13 17:25] kunlunl commented on #261
@arashd
Enter another directory, don't stay in the `/usr/src/app/HugeCTR/sparse_operation_kit` ( This directory is the default path when I run the docker image build with your dockerfile).

Python will import package from local directory first, in your case, if you stay in the default path, it will import from /usr/src/app/HugeCTR/sparse_operation_kit/sparse_operation_kit (this is just the source

[2022-05-14 18:25] #300 closed

[2022-05-17 04:27] tonyf opened #315 "[BUG] Cannot use TFEmbedding in tf.distribute.MultiWorkerMirroredStrategy()"
I'm trying to train a Keras model with the sok TFEmbedding layer as a drop in replacement for `tf.keras.layers.Embedding`. However, when calling `model.fit` or when using a custom training loop as in the examples, the following exception is raised.

[code]

Here's the training code (model.fit version).
[code]

Full dump of logs
[code]

**Environment**
 - Graphic card: 4xNVIDIA V100
 - CUDA version

[2022-05-17 05:52] minseokl commented on #314
Hi @Ash-Zheng thanks for reaching out to us. We are actively working on writing a keyset exctraction script and adding a demo on how to use it. It will be included in the upcoming release (22.06). Please let me know if you have more question.s Thanks!

[2022-05-17 06:14] Jianbing-D commented on #315
File "/home/ray/anaconda3/lib/python3.9/site-packages/merlin_sok-1.1.3-py3.9-linux-x86_64.egg/sparse_operation_kit/embeddings/tf_distributed_embedding.py", line 153, in call  *
        raise RuntimeError("The forward propagation of TFDistributedEmbedding "

    RuntimeError: The forward propagation of TFDistributedEmbedding cannot be called in cross_replica_context.

This error is throwed from [he

[2022-05-17 06:16] Ash-Zheng commented on #314
@minseokl Thanks, I will be waiting for your next release.

[2022-05-17 06:16] #314 closed

[2022-05-17 06:16] #167 closed

[2022-05-17 06:20] #13 closed

[2022-05-17 06:40] tonyf commented on #315
Is there a reason why `TFDistributedEmbedding.call(...)` cannot be called in a `cross_replica_context`? Isn't this always going to be the case in the training loop under `tf.distribute.MultiWorkerMirroredStrategy()`?

Need to dig around to find the custom training loop again. But, it was based off of the DLRM example code.

[2022-05-17 08:17] Jianbing-D commented on #315
`TFDistributedEmbedding` will access the collective methods through `tf.distribute.ReplicaContext`. In other words, if `call(...)` is not called under `ReplicaContext`, then `tf.distribute.get_replica_context()` will return `None`, then there is no way to do collective communication because there is no available collective APIs.

[2022-05-18 23:59] zehuanw opened #316 "[Requirement] Adding single GPU SOK test to CI/CD"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I wish HugeCTR could support [...]
We found environment issue of SOK in the NGC container v22.05.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
After the hot fix, we still need to add some testing to check the basic funct

[2022-05-24 11:51] EmmaQiaoCh commented on #316
Submit changes in this pr: https://github.com/NVIDIA-Merlin/HugeCTR/pull/317

[2022-05-25 00:54] nv-dlasalle opened #318 "[Requirement] Add python DLPack interface for HPS lookup"
**Is your feature request related to a problem? Please describe.**
In HPS, for GNNs it would be great to have a python lookup in function which could take in indices on the GPU and return the gathered rows also on the GPU.

**Describe the solution you'd like**
It would be great to have a python function like taking in DLPack objects (https://dmlc.github.io/dlpack/latest/python_spec.html):

def loo

[2022-05-27 21:57] PeterDykas opened #321 "[BUG] hps_demo.ipynb crashes with core dump"
**Describe the bug**
When running the hps_demo.ipynb notebook, with the latest docker container 22.05, the third code cell where we train the model will crash with a core dump.  I have tested on A100 DGX and V100 Pcie systems.  The code runs fine when using the 22.04 container.  The output for the V100 is below:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1: Start docker merlin dock

[2022-05-28 04:44] JacoCheung commented on #321
Hi, @PeterDykas. Thanks for your feedback. I think the reason for this issue is boiled down to the data_generator. There exists inconsistency between the _metadata.json and the file_list.txt regarding files' name. Both files are generated by data_generator.
The _metadata.json resides in `data_parquet/train/_metadata.json` and it records the num_rows of each file.

The file_list looks like this:
[c

[2022-06-03 19:10] nv-dlasalle commented on #318
@yingcanw Thanks for the feedback. Let me give you some more background on how this would be used for GNNs. We would use this both for training and inference, as the input to a network is a subgraph and embeddings for the nodes and/or edges in that subgraph.

Typically, for a given mini-batch, we fetch the input features associated with the input nodes of our subgraph. The number of input nodes us

[2022-06-06 10:51] yingcanw commented on #318
@nv-dlasalle Thanks for your detailed background info.  If my understanding is correct, then I think you will basically not use complex HPS deployment scenarios (just 1 python process per GPU due to the large input batch size), so there will be no issue like cuda initialization for multi-process/multi-thread on multi-GPU.
Therefore, through HPS supporting dlpack format tensors, it will indeed prov

[2022-06-15 02:27] EmmaQiaoCh commented on #316
Re-submitted the PR base one the new docker file: https://github.com/NVIDIA-Merlin/Merlin/pull/384

[2022-06-16 02:23] jershi425 commented on #314
Hi @Ash-Zheng, we added a [keyset script](https://github.com/NVIDIA-Merlin/HugeCTR/tree/master/tools/keyset_scripts) and a [ETC demo](https://github.com/NVIDIA-Merlin/HugeCTR/blob/master/notebooks/embedding_training_cache_example.ipynb) in our new release. Please take a look and let me know if you have any further questions. Thanks!

[2022-06-16 04:59] minseokl commented on #310
Hi @rllin The dataset is available now from Google cloud service. Please check [here](https://ailab.criteo.com/download-criteo-1tb-click-logs-dataset/). We also updated our samples and notebooks accordingly.
Please let me know if it works for you. Thanks!

[2022-06-17 04:09] Ash-Zheng commented on #314
@jershi425 Awesome, thank you!

[2022-06-20 12:22] LarryZhangy opened #330 "[Question] embedding table size of criteo dataset"
how to calculate  embedding table size of criteo dataset ?
why the num of pass of criteo dataset is 10 but not 24? (https://nvidia-merlin.github.io/HugeCTR/master/hugectr_embedding_training_cache.html#check-your-dataset)

thanks!

[2022-06-20 13:19] LarryZhangy opened #331 "[Question] why can not change embedding_vec_size of a example notebook"
if i change embedding_vec_size  from 16 to 32 at  embedding_training_cache_example , i got error :

RuntimeError: Runtime error: All the input tensors must have the same height
        Error_t::WrongInput at ConcatLayer(/hugectr/HugeCTR/src/layers/concat_layer.cu:69)

(https://nvidia-merlin.github.io/HugeCTR/master/notebooks/embedding_training_cache_example.html)

[2022-06-21 06:43] zehuanw commented on #321
Hi @PeterDykas, could you check if @JacoCheung 's reply helps? Thanks!

[2022-06-21 06:51] zehuanw commented on #310
Thank you for your feedback! Close the issue.

[2022-06-21 06:51] #310 closed

[2022-06-21 07:24] jershi425 commented on #330
Hi @LarryZhangy, thank you for your questions!

For the first question, we need the following parameters:
1. `#of unique keys` in the Criteo Dataset. Let's assume it is `200,000,000`.
2. `key size` you used during training: int64 or int32. Let's say you are using int64, that is `8 bytes`.
3. `embedding vector size` you used during training. Let's say it is `128`.
4. `Factor` which is the size mult

[2022-06-22 01:43] LarryZhangy commented on #330
Hi @jershi425 ， thank you for your patient and detailed explanation!

Two new question :
1) Is there any way to calculate the actual unique keys of Criteo Dataset before train?
2) Is there a tool to spilit some day of the whole Criteo dataset to some pass?

[2022-06-22 01:55] LarryZhangy commented on #331
Yes, when i change leading_dim of the Reshape Layer to 832, it can work !  Great !!

thanks!  @jershi425

[2022-06-22 02:07] LarryZhangy opened #332 "[Question] why can not use multi gpu of a example notebook"
when i try Embedding Training Cache Example [https://nvidia-merlin.github.io/HugeCTR/master/notebooks/embedding_training_cache_example.html](url)

if i use multi gpu by set vvgpu to [[1,2]], i wil get error at second pass  :

HugeCTR Version:3.6

=====================================================Model Fit=====================================================
[HCTR][02:39:45.199][INFO][RK0][main]

[2022-06-22 07:47] jershi425 commented on #330
Hi @LarryZhangy ,

1. For now, the only way to get the exact number of unique keys from Criteo is reading all the data and count it. But to analyze your dataset and decide whether you need to split, you only need a rough number: just make sure that your embedding for each pass can be held in your GPU resource.

[2022-06-22 08:07] jershi425 commented on #332
Hi @LarryZhangy, thank you for you feedback. I can't tell the exact problem by eyeballing so I will try to reproduce this error and get back to you later. Could you please let me know which version of Merlin container are you using? Or did you build HugeCTR by your own? Thanks.

[2022-06-22 11:16] LarryZhangy commented on #332
Hi @jershi425 , I use nvcr.io/nvidia/merlin/merlin-training:22.05.
And my docker version is 18.09 ,so,  docker run --runtime nvidia to start a container.
My host use cuda version 11.1 , driver version is 455.

[2022-06-22 13:10] LarryZhangy commented on #330
@jershi425 ,Thank you! I Know how to do next.

[2022-06-27 15:46] jperez999 opened #334 "[BUG] HugeCTR Model segfaults on Tritonserver inference request"
**Describe the bug**
When running a hugectr instance on tritonserver, the server is able to load the model, but when an inference request comes in, we get a segfault:

[code]
**To Reproduce**
Steps to reproduce the behavior:
Please launch the tritonserver using model repository files provided in this ticket.
Once the tritonserver instance is up, please launch an inference request against it using

[2022-06-27 23:38] #302 closed

[2022-06-27 23:56] zehuanw commented on #334
Thank you for the issue report! @yingcanw can you check if @jperez999 ran with the right way or not? @EmmaQiaoCh for vis.

[2022-06-29 00:37] LarryZhangy commented on #332
@jershi425 Have you reproduce this error ?

[2022-06-29 03:28] jershi425 commented on #332
@LarryZhangy Sorry for the late reply. Yes I have reproduced the error. This happens because of the keyset mismatch. I'll solve this issue by this release(by the end of next week) and let you know. And thank you again for this important feedback!

[2022-06-30 00:32] yingcanw commented on #334
@jperez999

Because your embedding table has only one key, it fails to initialize embedding cache, as I mentioned in the previous comment, at least 64 keys are required.

[2022-07-01 02:55] LarryZhangy opened #336 "[BUG] notebooks of hugectr_wdl_prediction can not run"
**Describe the bug**
when i try notebook https://nvidia-merlin.github.io/HugeCTR/master/notebooks/hugectr_wdl_prediction.html
i got error when run preprocess.py

TypeError: Unsupported type: Cannot convert object of type <class 'method'> to Node.

**To Reproduce**
Steps to reproduce the behavior:
1. just try notebook

**Expected behavior**
everything is ok.

**Screenshots**
![image](https://user-i

[2022-07-01 03:01] jershi425 commented on #332
@LarryZhangy Turns out it is because the keysets were extracted in a wrong way. To quickly solve this, you can modify the line 39 of `generate_keyset.py` to `f.write(int(k).to_bytes(int_size, "little", signed=True))` and re-generate the keysets.

[2022-07-04 12:18] oliverholworthy opened #337 "[BUG] Failing to run on Windows / WSL 2"
**Describe the bug**

Running HugeCTR in docker on Windows 11 / WSL 2 results in an exception relating to cpu affinity

**To Reproduce**

Steps to reproduce the behavior:

1. docker run command (from HugeCTR directory)

[code]

Outputs:

[code]

- `cpu_mask->size`  - 256
- `cpu_mask->size / (sizeof(unsigned long) * 8)` - 4

the equivalent call using the python bindings for nvml:

[code]

**Expecte

[2022-07-05 02:21] LarryZhangy opened #338 "[Question] Failed to preprocess criteo data"
when i try to run a sample of wdl  https://github.com/NVIDIA-Merlin/HugeCTR/tree/master/samples/wdl
i got a error at step :Preprocess the Dataset Through NVTabular

bash preprocess.sh 0 criteo_data nvt 1 0 1 # parquet output

error :
![image](https://user-images.githubusercontent.com/1331144/177236714-6e582482-7a21-488a-849d-b978c562c144.png)

[2022-07-05 02:44] LarryZhangy opened #339 "[Question] Complete guide to train wdl model using all 1TB criteo data in only six minutes"
I know the performance of HugeCTR +  NVTabular is awesome, the Criteo 1TB Click Logs Dataset can be processed and a full model can be trained in only six minutes.

But when i try to reproduct it, i got same problem:
#338 #336 #332

So, can HugeCTR group write a complete notebook to guide how to process and train wdl model useing 1TB criteo data  in only six minutes?

Thank you!

[2022-07-05 03:27] KingsleyLiu-NV commented on #337
@oliverholworthy Thanks for the feedback. If you refer to the document of NVML APIs, you can find that `nvmlDeviceGetCpuAffinity` is **supported on Linux only**.  For more details, please see https://docs.nvidia.com/deploy/nvml-api/group__nvmlAffinity.html#group__nvmlAffinity.

[2022-07-05 10:09] regnnighe opened #340 "How can I enable GPU profiling for MLPerf dlrm for training result v2.0?"
I set the env variable PROFILING_DIR and -DENABLE_PROFILING=ON in the dockerfile and used the run_with_docker.sh on https://github.com/mlcommons/training_results_v2.0/blob/main/NVIDIA/benchmarks/dlrm/implementations/hugectr. However, after that, the model cannot be trained and output the following error. Do I need to change any model parameters in the python training script as well?

[HUGECTR][08:

[2022-07-06 09:40] jershi425 commented on #338
Hi @LarryZhangy, NVTabular has updated the API and we are working on fixing the data preprocessing scripts to make them work. I will let you know once we fixed it.

[2022-07-07 20:39] EvenOldridge commented on #315
@tonyf were you able to get it working?  Please reopen if there is still an issue.

[2022-07-07 20:39] #315 closed

[2022-07-07 20:40] EvenOldridge commented on #183
Closing due to age.

[2022-07-08 20:06] viswa-nvidia opened #341 "[BUG]Trial bug to test the automation"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. How to build including `docker pull & docker run` commands
2. How to run including the JSON config file used

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2022-07-08 22:40] viswa-nvidia commented on #191
@minseokl , do we need to track this ?

[2022-07-13 02:14] #341 closed

[2022-07-13 02:16] #337 closed

[2022-07-13 02:17] #330 closed

[2022-07-13 02:18] #316 closed

[2022-07-13 02:19] #311 closed

[2022-07-13 02:19] KingsleyLiu-NV commented on #321
The Parquet data generator issue has been fixed in 22.07 release.

[2022-07-18 23:40] viswa-nvidia commented on #261
@zehuanw , please provide details and close this bug.

[2022-07-20 05:56] AtekiRyu opened #344 "[Question] Can HugeCTR run on CPU only machine ?"
Hi HugeCTR team,
i noted that there are serverl cpu layers code https://github.com/NVIDIA-Merlin/HugeCTR/tree/master/HugeCTR/src/cpu/layers
what are these for ?  for debug purpose or  HugeCTR can run cpu only machine ?

Thanks

[2022-07-20 23:16] minseokl commented on #340
Hi @regnnighe We are deprecating the inline profiler. It will be completely removed in a future release. I recommend you use Nsight Systems which offers more rich functionality.

[2022-07-21 17:59] #340 closed

[2022-07-26 08:19] avinashc27 opened #345 "[BUG] Compilation of 'dlrm_raw' failed with error "Cannot determine link language for target "dlrm_raw""
**Describe the bug**
'dlrm_raw' tool under https://github.com/NVIDIA-Merlin/HugeCTR/tree/master/tools/dlrm_script/ is failed to build using Cmake.

**To Reproduce**
Steps to reproduce the behavior:
1. base container: nvcr.io/nvidia/merlin/merlin-tensorflow-training:22.05
2. cd /workspace/HugeCTR/tools/dlrm_script
3. cmake .

**Expected behavior**
build dlrm_raw binary

**Output**
-- The C compiler

[2022-07-26 13:31] JacoCheung commented on #345
Hi @avinashc27, do you only need to compile the tools/dlrm_script ? it turns out that the `tools` (And its children folders) is not an independent **project** or a library. It's just a componet of HugeCTR project and depends on other componets of the HugeCTR.  Neither `project()` command nor languages can be specifiled in tool/CMakeLists.txt and you can not just execute `cmake` under this folder.

[2022-07-26 15:30] avinashc27 commented on #345
Thanks @JacoCheung , Modified CMakeLists.txt you shared did the job..

[2022-07-26 15:30] #345 closed

[2022-07-27 02:40] jershi425 commented on #336
Hi @LarryZhangy, thank you for your feedback. The NV Tabular team is currently working on solving this data preprocessing issue. For now, you are free to try other inference notebooks which uses data generated from our [data generator](https://nvidia-merlin.github.io/HugeCTR/master/api/python_interface.html#data-generator-api), for example, [hps demo](https://github.com/NVIDIA-Merlin/HugeCTR/blob/

[2022-07-27 08:37] silpara opened #346 "[BUG] Installing of sparse_operation_kit from pip failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Use AMI https://aws.amazon.com/releasenotes/deep-learning-ami-gpu-tensorflow-2-9-ubuntu-20-04/ to spin a ec2 cluster instance type g4dn.xxlarge
2. pip3.9 install sparse_operation_kit

**Logs**
[code]

**Environment (please complete the following information):**
 - OS:  Ubu

[2022-07-27 09:07] kunlunl commented on #346
Has the NCCL library been installed in /usr/local/cuda-11.2/... ?
If yes, Could you try set environment variable `NCCL_DIR=/usr/local/cuda-11.2/`?

[2022-07-27 10:02] silpara commented on #346
There is no separate directory for NCCL at `/usr/local/cuda-11.2/` but nccl and libnccl files are present in `usr/local/cuda-11.2/include/` and `/usr/local/cuda-11.2/lib/` respectively. Setting `NCCL_DIR=/usr/local/cuda-11.2/` did not work either.

[2022-07-27 11:11] kunlunl commented on #346
Could you give the specific installation location of `nccl.h` and `libnccl.so`?

For example, in the `nvcr.io/nvidia/tensorflow:22.05-tf2-py3` container:
* `nccl.h` is at `/usr/include/nccl.h`
* `libnccl.so` is at `/usr/lib/x86_64-linux-gnu/libnccl.so`

The following cmake file describes where sok will look for nccl.h and libnccl.so:
https://github.com/NVIDIA-Merlin/HugeCTR/blob/master/sparse_oper

[2022-07-27 14:12] silpara commented on #346
Your suggestion seems to work and cmake is able to locate NCCL but another error is coming now

[code]

[2022-07-27 16:44] kunlunl commented on #346
It looks like cmake can't find lib of tensorflow now.

SOK use these commands to locate the lib of tensorflow:
[code]
Could you try these commands to see what will print?

In `nvcr.io/nvidia/tensorflow:22.05-tf2-py3` container, the outputs are like:
[code]
----------
I can't get access to a AWS instance now, but I guess the `python` in your container corresponds to python2 actually, and you will i

[2022-07-28 06:37] LarryZhangy commented on #332
@jershi425 ,
Thanks! But line 39 is just the same as you describe.
And had this bug been fixed at new version?

[2022-07-28 06:44] LarryZhangy commented on #336
@jershi425 , Thanks!  I had try it use generated data, it can work.

[2022-07-28 06:44] LarryZhangy commented on #338
@jershi425 , when this bug can be fixed?

[2022-08-01 02:50] jershi425 commented on #332
@LarryZhangy This is fixed in the new version and it should run without problem.

[2022-08-02 02:47] LarryZhangy commented on #332
@jershi425 , when i try to generate keyset for first day data of criteo 1tb, i got OOM error.

![image](https://user-images.githubusercontent.com/1331144/182280567-0f12feea-b1ae-4276-b092-a43145411858.png)

![image](https://user-images.githubusercontent.com/1331144/182280858-2b9ac749-4050-4d8e-8616-7e73d5afd1a3.png)

[2022-08-03 05:17] jershi425 opened #347 "[Requirement] Movie-Lens example Enhancement"
The current [Movie-Lens example](https://github.com/NVIDIA-Merlin/HugeCTR/blob/master/notebooks/movie-lens-example.ipynb) uses KNN to make a inference demo but produces suspicious results which have a lot of queries returning the same recommendation. According to @vinhngx, there is still room for the AUC to be higher  to produce a more reasonable embedding. @jershi425 will try and update the noteb

[2022-08-04 06:53] AtekiRyu commented on #344
Thanks!

[2022-08-04 06:53] #344 closed

[2022-08-04 06:59] AtekiRyu opened #348 "[BUG] The runtime GPU memory cost is high?"
Hi HugeCTR team,
i'm runing some testing with HugeCTR project with customized data.
I'm using one V100 16G with  a simple DCN network.

The job settings:
- workspace_size_per_gpu_in_mb = 6000

[code]

But the `nvidia-smi` shows the process uses far more than 6000M GPU memory.
![image](https://user-images.githubusercontent.com/12287905/182783466-a700b9be-95e7-4435-bbb9-a8ae18a57995.png)

My questio

[2022-08-05 10:43] shijieliu commented on #348
Hi @AtekiRyu Thanks for trying HugeCTR!  Could you also provide your training log for us to debug?

[2022-08-05 10:56] AtekiRyu commented on #348
Thanks @shijieliu   here is the log

[code]

[2022-08-08 06:29] AtekiRyu opened #350 "[Question] Low throughtput with our testing data."
Hi HugeCTR team,
I'm testing the HugeCTR performance with our data of real scenario, but the throughtput is unecpected low.
I double checked our data and scrpits, but still no clue.
So i raise this question for help.  and i also raise an issue about GPU memroy usage #348

## Outline of Our Data

- I converted our data to `Norm` format(https://nvidia-merlin.github.io/HugeCTR/master/api/python_inter

[2022-08-08 23:28] zehuanw commented on #261
Closing this issue as hanging issue fixed in v22.06. But please reopen it if you still encounter problems. Thank you for your feedback again!

[2022-08-08 23:28] #261 closed

[2022-08-09 00:48] zehuanw commented on #350
Thank you for the feedback! The performance is not expected. Can you provide the log? @AtekiRyu
[code]

[2022-08-09 00:55] KingsleyLiu-NV commented on #350
Hi @AtekiRyu , I don't think the Reshape layer is used correctly:
[code]

when leading_dim is commented out, the default value 1 will be used.

Based on the sparse input, Reshape layer should be:
[code]

[2022-08-09 01:05] JacoCheung commented on #348
Considering that the batchsize has a significant impact, @shijieliu I wonder if it's related to the Embedding overflow check ( check_overflow() ).  AFAIK, @RayWang96 should have fixed it but has not released yet.  In addition, the low throughput #350  may be related to this.

[2022-08-09 07:28] AtekiRyu commented on #350
Thanks @KingsleyLiu-NV , with this fix

- the perf got ~2x improved with `batch size = 2048`
- the profiling results seems better
- the `model complie` become faster.

But the memory issue still here #348
[code]

With the `Reshape Layer` fix, the performance num is below

## Throughput
[code]

@zehuanw  The logs with fix.  the log nearly same with different `batch size`.
## Logs
### Batch 512 Log

[2022-08-09 10:42] shijieliu commented on #348
Hi @AtekiRyu After detailed checking we found the behavior is expected. The large memory usage is because of the allocation of hash table in embedding.
Let me give a brief introduction about hugectr embedding internal mechinism. The embedding consists of a hash table and a embedding table. The hash table will store the mapping between key and index and each index in embedding table corresponds to

[2022-08-10 03:50] AtekiRyu commented on #348
Thanks @shijieliu  for the detailed introduction.
`workspace_size_per_gpu_in_mb` is a little confusing in my case.
I assumed that `workspace_size_per_gpu_in_mb` is for all embedding table realted GPU memory budget.

[2022-08-10 03:50] #348 closed

[2022-08-12 05:50] zongshibuzai commented on #346
I also encountered the same mistake above, please ask how to solve it now?

[2022-08-12 06:42] kunlunl commented on #346
cmake cannot find nccl or tensorflow? @zongshibuzai

[2022-08-12 06:51] zongshibuzai commented on #346
At first,  cmake cannot find nccl.
when use   ln /usr/local/cuda11.2/.../nccl.h /usr/include/nccl.h
                  ln /usr/local/cuda11.2/.../libnccl.so* /usr/lib/
now cmake cannot find tensorflow.

[2022-08-12 06:57] kunlunl commented on #346
Could you try these commands to see what will print?

[code]

[2022-08-12 07:02] zongshibuzai commented on #346
the outputs are like:
-I/usr/local/python3/lib/python3.7/site-packages/tensorflow/include -D_GLIBCXX_USE_CXX11_ABI=0 -DEIGEN_MAX_ALIGN_BYTES=64
-L/usr/local/python3/lib/python3.7/site-packages/tensorflow -l:libtensorflow_framework.so.2
2.8.0

[2022-08-12 07:14] kunlunl commented on #346
Does the error logs are also like:
[code]

And I want to double check, you got `2.8.0` with `python -c "import tensorflow as tf; print(tf.__version__)"`, not `python3 ...`, right?

[2022-08-12 07:18] zongshibuzai commented on #346
the error logs :
ModuleNotFoundError: No module named 'tensorflow'
  Traceback (most recent call last):
    File "<string>", line 1, in <module>
  ModuleNotFoundError: No module named 'tensorflow'
  Traceback (most recent call last):
    File "<string>", line 1, in <module>
  ModuleNotFoundError: No module named 'tensorflow'
  CMake Error at cmakes/FindTensorFlow.cmake:23 (string):
    string sub-

[2022-08-12 07:29] kunlunl commented on #346
I can see why cmake fails, because we let cmake execute a subprocess like `python -c "import tensorflow as tf; print(tf.version)` to get the location of tensorflow, but it seems that python executes with the error `No module named 'tensorflow'` (from the 2nd to 8th of your log).

What confuses me is that you can find tensorflow by executing `python -c "import tensorflow as tf; print(tf.version)` y

[2022-08-12 08:56] howiejayz opened #351 "[Requirement]Profiling operations for HugeCTR"
Hi HugeCTR team,

Recently I have used Nsight to profile a model which uses HugeCTR.

Unlike another tool, DLProf, which gives an operation break down for the model, I found the result from Nsight is very low level and it is quite difficult to find out what's the total time of each operation is.

I am wondering is there a way to get a high level operation profile for HugeCTR model?

[2022-08-12 10:44] zongshibuzai commented on #346
Are there other version requirements for installing spase_operation_kit, for example, cmake > 3.8 ,cuda?

[2022-08-13 09:20] zongshibuzai commented on #346
There was an error when I chose to compile from source code：
/hugectr/sparse_operation_kit/kit_cc/kit_cc_infra/src/resources/event.cc: In member function ‘void SparseOperationKit::Event::TillReady(CUstream_st*&)’:
/hugectr/sparse_operation_kit/kit_cc/kit_cc_infra/src/resources/event.cc:58:52: error: ‘cudaEventWaitDefault’ was not declared in this scope
   CK_CUDA(cudaStreamWaitEvent(stream, cuda_e

[2022-08-15 01:40] zehuanw commented on #351
Hi @regnnighe , so far, DLProf doesn't support HugeCTR and there's no specific high level profiling tool for HugeCTR. But I think it's a good requirement to support better profiling mechanisms. Would you like to elaborate what are the high level operation profile you are looking for? Do you think DLProf is enough to support your usage?

[2022-08-15 01:51] francktcheng commented on #261
@zehuanw  hi, when will be the image v22.06 for SOK released? Thanks

[2022-08-15 02:41] kanghui0204 commented on #346
Hi ,zongshibuzai,
q1:Are there other version requirements for installing spase_operation_kit, for example, cmake > 3.8 ,cuda?
the cmake version must higher than 3.8
q2:error: ‘cudaEventWaitDefault’ was not declared in this scope
cudaEventWaitDefault is released in cuda runtime API 11.1, please upgrade your cuda runtime version higher than 11.1.

[2022-08-15 03:51] regnnighe commented on #351
@zehuanw Thank you for your reply! For example, while I am using HugeCTR for the DRLM model, it would be nice to have a profiler which can give the operation time for different parts of the model, such as embeddings, bottom mlp, top mlp, and etc.

For DLProf, it works well for a model using Pytorch since it shows the operation label so that I know how much time are corresponding to each part of th

[2022-08-15 22:59] viswa-nvidia commented on #293
retiring this ticket

[2022-08-15 22:59] #293 closed

[2022-08-15 23:00] viswa-nvidia commented on #294
retiring this ticket

[2022-08-15 23:00] #294 closed

[2022-08-16 09:19] zehuanw commented on #351
Thank you for the feedback! Relabel it as a functional feature requirement. We will track the planning and development in this issue.

[2022-08-17 04:00] jershi425 commented on #347
Fixed this issue by correcting the wrong mapping between movieId and embedding key. AUC is now above 0.99 and KNN produces distinct results.

[2022-08-17 04:00] #347 closed

[2022-08-19 06:07] kanghui0204 commented on #305
Hi @iidsample ,now we have a multinode tutorial(https://github.com/NVIDIA-Merlin/HugeCTR/tree/master/tutorial/multinode-training) update, you can use script in tutorial to submit a multinode task with MPI. Please check if this update works for you.

[2022-08-23 22:35] benfred opened #353 "[BUG] HugeCTR doesn't compile with cudf v22.06+"
**Describe the bug**
HugeCTR doesn't compile with cudf 22.06.

This seems to be because cudf renamed CUDA_TRY to CUDF_CUDA_TRY in https://github.com/rapidsai/cudf/pull/10589, and moved the 'default_hash' function to the cudf::detail namespace in https://github.com/rapidsai/cudf/pull/10462 both of which prevent the tools/dlrm_script code from compiling succesfully

 **To Reproduce**
Update cudf to

[2022-08-24 00:06] #353 closed

[2022-08-30 09:15] oliverholworthy opened #356 "[BUG] Segmentation fault using cudf after HugeCTR model run"
**Describe the bug**

After instantiating a HugeCTR model and attempting to use cudf after, encounter a segmentation fault.

The scenario we've encountered this is in two separate pytest test functions. The first is one that creates a HugeCTR model (which runs ok). The second is something else that uses cudf. This test passes in isolation. However, if the test involving HugeCTR is run first, the s

[2022-08-31 08:38] regnnighe opened #357 "[Question] Why hybrid embedding is bound with async data reading?"
Hi HugeCTR team,

Currently I am doing a performance breakdown of DLRM, where I want to test out the performance of asynchronous data reader and hybrid embedding. However, I found that in HugeCTR, RawAsync type must be used together with the hybrid embedding feature.

I am wondering is there any reason for this? And is there any way to split them apart?

[2022-09-01 07:33] MARD1NO opened #358 "Maybe there is a typo in API docs?"
<img width="822" alt="image" src="https://user-images.githubusercontent.com/42901638/187857839-3ae5c7d2-6b67-442a-bb22-c8d60d05dc76.png">

Maybe the description of dropout_rate is wrong? Set 1.0 indicates dropout all the elements, set 0.0 do not dropout.

[2022-09-01 11:00] bashimao commented on #358
Agree. The general understanding of dropout is that the rate is the probability `p` of a value to be dropped. So software should behave like this and the description should be accordingly. Can we confirm that the layer works accordingly + change the description?

Hence,
- `p = 1` dropout all elements.
- `p = 0` dropout no elemnts.

[2022-09-05 00:36] kanghui0204 commented on #305
Hi @iidsample  ， because this issue is opened for a long time ,and we will close issue now . If you have another question , you can reopen this issue , and comment.

[2022-09-05 00:36] #305 closed

[2022-09-05 00:38] kanghui0204 commented on #346
Hi @zongshibuzai ， because this issue is opened for a long time ,and we will close issue now . If you have another question with SOK install or SOK running , you can reopen this issue , and comment.

[2022-09-05 00:38] #346 closed

[2022-09-12 18:48] thuningxu opened #360 "[BUG] Criteo example fail due to "Runtime error: file list open failed: ./criteo_data/file_list.txt""
**Describe the bug**
Criteo example fails because file_list.txt is missing

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the step https://github.com/NVIDIA-Merlin/HugeCTR/tree/master/samples/criteo, running directly the docker image `nvcr.io/nvidia/merlin/merlin-hugectr:22.07`
2. Download and preprocess data using NVTabular
3. python3 ../samples/criteo/criteo.py

**Expected behavior

[2022-09-12 21:22] thuningxu commented on #360
Preprocessing with `perl` does not have this problem. Seems `nvt` has some difference here.

[2022-09-13 01:09] JacoCheung commented on #356
Hi, @oliverholworthy , Thanks for your reporting this bug. I'll try reproducing it and investigate into it. Which release are you running with?

[2022-09-13 01:13] JacoCheung commented on #360
@thuningxu could you please confirm the `./criteo_data/file_list.txt` does exist? If there's no such file or the file is in wrong directory, the preprocessing may accout for it, otherwise the data reader may be buggy.

[2022-09-13 17:37] oliverholworthy commented on #356
This was on release 22.07

[2022-09-14 04:43] minseokl commented on #358
Thanks for your feedback. We pushed the change into our master branch. Thanks.

[2022-09-14 04:43] #358 closed

[2022-09-14 05:11] #321 closed

[2022-09-16 23:43] Spartee opened #361 "[BUG] WDL training notebook for HugeCTR processing workflow fails with TypeError"
**Describe the bug**
I was running [this notebook](https://github.com/triton-inference-server/hugectr_backend/blob/e4f4275e0101f52f2814768db8b063e0f88e0241/samples/wdl/HugeCTR_WDL_Training.ipynb) which uses NVTabular to process the clicks dataset link commonly used as a demo for HugeCTR. When running this notebook, I keep running into a ``TypeError``. Given my knowledge of NVTabular's codebase thi

[2022-09-23 00:56] viswa-nvidia commented on #361
@Spartee , Thank you for posting this bug. We have moved this ticket to the HugeCTR repository as this bug is related to the HugeCTR notebook.

[2022-09-23 02:05] jershi425 commented on #361
This issue is blocked by a bug from NVT side: https://github.com/NVIDIA-Merlin/NVTabular/issues/1605. The workflow in this notebook needs the `Categorify` op with combo encoding to be fixed.

[2022-10-01 14:24] Jeffery-Song opened #362 "[BUG] HPS tensorflow plugin, multi-gpu example crashes"
**Describe the bug**
HPS example `hps_pretrained_model_training_demo.ipynb` crashes.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
The pre-trained model can be loaded with HPS & trained.

**Screenshots**
[code]

**Environment (please complete the following information):**
 - OS: CentOS-7
 - DGX-A100
 - CUDA version: CUDA 11.7 on host os.
 - Docker image: nvcr.io/

[2022-10-01 23:43] zehuanw commented on #362
Hi @Jeffery-Song , thank you for your feedback! Our team is in holiday vacation and will reply to you after it (8th Oct).

[2022-10-08 04:17] shijieliu commented on #357
Hi @regnnighe , thanks for trying out HugeCTR.

The reason why hybrid embedding is bounded with raw async reader is because hybrid embedding needs to collect data statistics before training to identify frequent and infrequent embedding. Now we use a seperate datareader called init_datareader to achieve this and you can reference the [code](https://github.com/NVIDIA-Merlin/HugeCTR/blob/master/HugeC

[2022-10-12 05:56] KingsleyLiu-NV commented on #362
Hi @Jeffery-Song, thanks for reporting this bug. It can be reproduced with `merlin-tensorflow:22.09` and I am investigating whether it is a container issue or related to recent changes to HPS TF plugin. We will try to fix it in the next release and get back to you then.

[2022-10-18 16:47] oliverholworthy commented on #356
cc. @EvenOldridge , @viswa-nvidia

[2022-11-01 16:19] jsohn-nvidia commented on #298
@zehuanw, can you please share the updates if the change has been released? if not, when is it planned? let's post the plan and close the issue.

[2022-11-02 20:07] Spartee opened #363 "[Requirement] TLS communication for cloud-hosted HPS"
### Description
 It would be great if TLS communication were added as an option to client initialization in [redis_backend.cpp](https://github.com/NVIDIA-Merlin/HugeCTR/blob/6177889df69258919533c0f5658492332400b8eb/HugeCTR/src/hps/redis_backend.cpp#L53)

Adding a TLS option would secure communication between the HPS and HugeCTR when hosting the CPU cache component of the HPS separate (not the same

[2022-11-02 23:00] zehuanw commented on #363
Thank you for the feature requirement and detailed description! We will analyze and update to you soon.

[2022-11-03 00:07] bashimao commented on #363
@zehuanw This is content-wise a duplicate of !639 on GitLab , but way more detailed. Thank you @Spartee .

[2022-11-03 06:34] bashimao commented on #363
Performance impact is there and measurable, but I assume that people who want SSL are willing to accept that. See also:
https://github.com/redis/redis/issues/7595

[2022-11-03 06:36] bashimao commented on #363
Server-side configuration: https://redis.io/docs/management/security/encryption/

[2022-11-03 06:46] bashimao commented on #363
@minseokl @zehuanw Btw. this is a good example where moving dependency configuration back from Merlin / `docker` into the HugeCTR repo  / `cmake` as a `third_party` dependency is really helpful. In the old build system, we would have had to propose a change to the Merlin project and wait for the change to become available. Definitely a win.

[2022-11-03 22:41] jsohn-nvidia opened #364 "[BUG] DIN sample refers to old version of NVTabular and produces error when running w/ 22.09 container"
**Describe the bug**
The DIN sample in the repo (https://github.com/NVIDIA-Merlin/HugeCTR/tree/main/samples/din) seems to be using outdated NVTabular API and produces an error when running in the 22.09 container

**To Reproduce**
Follow the instructions shown in the sample page.

**Expected behavior**
The sample runs without an error

**Additional context**
Have not tested w/ 22.10 which was relea

[2022-11-04 08:11] Spidey0918 commented on #364
22.10 also has the same issue. The 4_nvt_process.py will run into an error. "No module named column_group in nvtabular" which is an old API from v0.6.1. After I change this line, it gives me another error.

![image](https://user-images.githubusercontent.com/65277376/199924034-301b2373-551f-47bc-baaf-c61f225d31f0.png)

Anyone can help with this?

Thanks!

[2022-11-04 08:19] jershi425 commented on #364
@Spidey0918 The fixed script will be available in next release. For a quick fix, you can replace the line `features = LABEL + ColumnGroup(CAT_COLUMNS)` with `features = LABEL + CAT_COLUMNS >> FillMissing()` and add `from nvtabular.ops import FillMissing` on the top. Use this fix is not sufficient to remove all the warnings but should be enough to get the script working. Thanks and let me know if y

[2022-11-04 08:31] Spidey0918 commented on #364
@jershi425 Thanks! It helps a lot. I can get the din model working.

[2022-11-04 14:11] WonderingWJ opened #365 "[Question] Initialize SOK embedding on CPU to prevent OOM"
When initialize sok.Variable with tf initilizer on GPU, TF does some copy mechansim in the buffer. That may casue OOM.
[code]

You can solve the problem by initialize it on cpu device
[code]

[2022-11-07 01:18] zehuanw commented on #365
Thanks for the Q&A! Close as solved.

[2022-11-07 01:18] #365 closed

[2022-11-08 11:06] JacoCheung commented on #298
Sorry for late response , the #files > #gpus problem has been actually fixed in 22.10, but the fix had slipped the release note
https://github.com/NVIDIA-Merlin/HugeCTR/blob/main/HugeCTR/src/pybind/add_input.cpp#L277-L310
unless  #files > #gpus =>#workers=#files, otherwise #workers=#gpus. Therefore, if provided #files is less than #gpu, you'll lose some performance. @leiterenato . FYI @zehuanw  @j

[2022-11-09 02:25] KingsleyLiu-NV commented on #350
Close since both the performance and memory issues have been resolved.

[2022-11-09 02:25] #350 closed

[2022-11-09 02:28] JacoCheung commented on #360
Hi @thuningxu , do you still have this problem in the latest release?

[2022-11-09 17:43] Spidey0918 commented on #338
I run the preprocessing script and got an IndexError, not quite sure what it means. Can anyone enlight me on this?
![image](https://user-images.githubusercontent.com/65277376/200902231-55614999-e315-4bc9-b88a-349300d1004b.png)

[2022-11-09 18:33] EvenOldridge commented on #361
https://github.com/NVIDIA-Merlin/NVTabular/issues/1605 is now fixed and closed.  Please reopen if you're still encountering this.

[2022-11-09 18:33] #361 closed

[2022-11-14 00:59] jershi425 commented on #361
@Spartee This issue has been solved. Please check out the [new version](https://github.com/triton-inference-server/hugectr_backend/blob/main/samples/wdl/HugeCTR_WDL_Training.ipynb). And please let me know if you have further questions. Thank you!

[2022-11-14 20:28] liguo88 opened #366 "[Question]DIN sample slot_size_array and key range overlap"
DIN example link: https://github.com/NVIDIA-Merlin/HugeCTR/blob/main/samples/din/din_parquet.py

1. In this example, we have this code:
`reader = hugectr.DataReaderParams(
    data_reader_type=hugectr.DataReaderType_t.Parquet,
    source=["./din_data/train/_file_list.txt"],
    eval_source="./din_data/valid/_file_list.txt",
    check_type=hugectr.Check_t.Non,
    num_workers=1,
    slot_size_array

[2022-11-15 00:18] #364 closed

[2022-11-17 02:03] yingcanw commented on #366
Thanks for the feedback, because the DIN model is a recommendation model that supports sequence data, that is, the sequence data represents the user's history info, for example, the GoodID here is the user's browsing items within a period of time, then all items belong to the same embedding space and can also be repeated(overlap).

[2022-11-17 02:18] JacoCheung commented on #366
Hi @liguo88 , sorry for the confusing. Let me elaborate it. This is actually a hack on `sequence data input`. Actually a non-zero key and the following continuous zeros **share the same embedding space** as you said, which means that **slot 2 to slot 12 have the same key ranges**. They are in the same embedding space, and thus there should be no overlap.
The overlap issue occurs if two slots are i

[2022-11-18 05:04] shijiexu09 opened #367 "original error: libcuda.so.1: cannot open shared object file: No such file or directory，a problem occurred in the docker image nvcr.io/nvidia/tensorflow:22.06-tf2-py3"
**Describe the bug**
i pull the hugectr mirror inorder to test sok（hugectr tensorflow embedding plugin），when i execute the python script
[code]
a problem occurred
[code]

**Environment (please complete the following information):**
 - Docker image: nvcr.io/nvidia/tensorflow:22.06-tf2-py3

**solve**
[code]

the path "/usr/local/cuda/compat/lib" does not exist,   while another path "/usr/local/cuda/

[2022-11-22 09:50] zhaozheng09 opened #368 "[BUG]辛苦修改错别字"
![image](https://user-images.githubusercontent.com/33950866/203282145-8844831b-4467-433f-9681-19375712a53e.png)

[2022-11-22 09:52] #368 closed

[2022-11-22 14:00] yingcanw commented on #368
Thanks for your feedback. We will this fix typo in [PR369](https://github.com/NVIDIA-Merlin/HugeCTR/pull/369)

[2022-11-23 02:48] jershi425 commented on #338
This issue was fixed in v22.11 release.

[2022-11-23 02:48] #338 closed

[2022-11-23 02:51] jershi425 commented on #336
This issue was fixed in v22.11 release.

[2022-11-23 02:51] #336 closed

[2022-11-23 03:45] EmmaQiaoCh commented on #282
We have a notebook for generating keyset, please refer to https://github.com/NVIDIA-Merlin/HugeCTR/blob/main/notebooks/embedding_training_cache_example.ipynb

[2022-11-23 03:45] #282 closed

[2022-11-23 03:54] minseokl commented on #184
For both `MmapOffsetList` and `ResourceManager`, we do `HCTR_MPI_THROW(MPI_Bcast(&seed, 1, MPI_UNSIGNED, 0, MPI_COMM_WORLD));` Thus, it is not an issue anymore. Let me close it.

[2022-11-23 03:54] #184 closed

[2022-11-23 05:19] #298 closed

[2022-11-23 05:37] EmmaQiaoCh commented on #175
jupyter-notebook could be enabled in our recent released containers.

[2022-11-23 05:53] EmmaQiaoCh commented on #334
Hi @jperez999 do you still have problems on this?

[2022-11-23 06:05] #175 closed

[2022-11-23 06:06] #191 closed

[2022-11-23 06:07] #357 closed

[2022-11-23 06:08] #360 closed

[2022-11-23 20:57] #366 closed

[2022-11-29 02:23] KingsleyLiu-NV commented on #362
Hi @Jeffery-Song , this bug is related to the replica context when using `MirroredStrategy` and it is fixed in `nvcr.io/nvidia/merlin/merlin-tensorflow:22.11`.

[2022-11-29 02:23] #362 closed